body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#650404;
    color: rgb(53, 19, 19);
}

.container {
    max-width: 400px;
    margin: 120px auto;
    padding: 30px;
    background-color: white !important;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.form-box {
    background-color: white !important;
    padding: 20px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 16px;
    color: #292929;
}

form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(239, 230, 230);
    color: #292929;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

form button {
    padding: 12px;
    background-color: #80000b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

form button:hover {
    background-color: #650404;
}

.error-message {
    color: #FF6347;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.success-message {
    color: #32CD32;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

a {
    color: #FF6347;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
