body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7fff7;
    color: #80000b;
}

.calendarDay {
    cursor: pointer;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 300ms;
}

.calendarDay:hover {
    background-color: #D63230;
}

header {
    background-color: #80000b;
    color: white;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80000b;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
    color: #242424
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    /* background: #4ECDC4; */
    border-radius: 5px;
}

.calendar-container {
    flex: 2;
    /* background-color: #4ECDC4; */
    padding: 20px;
    border-radius: 5px;
}

.event-form-container {
    flex: 1;
    margin-left: 20px;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 5px;
}

span {
    color: white;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-header select {
    /* background-color: #1A535C; */
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: black;
}

.calendar div {
    /* background-color: #1A535C; */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


.calendar div.header {
    font-weight: bold;
}

.calendar div.selected {
    background-color: #D63230;
    color: white;
}

form input {
    padding: 8px 15px;
    margin: 10px 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #80000b;
    color: #fafafa;
    cursor: pointer;
}

.message {
    color: #80000b;
    text-align: center;
}

.event-list {
    margin-top: 20px;
}

.event-item {
    /* background-color: #4ECDC4; */
    /* padding: 10px; */
    /* margin: 10px 0; */
    /* border-radius: 5px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.event-name {
    color: #80000b;
    padding: 10px 10px;
    flex: 1;
    min-width: 0;
}

.event-item form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.event-item form input[type="text"],
.event-item form input[type="date"] {
    margin-right: 10px;
    width: 150px;
    padding: 5px;
    font-size: 14px;
}

.event-item form button {
    padding: 5px 10px;
    color: #1A535C;
    font-size: 14px;
    margin: 10px;
    width: auto;
}

#alertBox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFE66D;
    color: #80000b;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#alertBox button {
    margin-top: 10px;
    padding: 10px;
    background-color: #80000b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
