body {
  font-family: Arial, sans-serif;
  background-color: #e7f2e7;
  color: #1A535C;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 10px 0;
  background-color: #D63230;
  color: white;
  font-size: 24px;
  font-weight: bold;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
  /* background-color: #4ECDC4; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  /* background-color: #1A535C; */
  border-radius: 8px;
  margin-bottom: 20px;
  color: white;
}

.calendar-header select,
.calendar-header button {
  /* background-color: #4ECDC4; */
  color: #4f4f4f;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.calendar-header button:hover {
  background-color: #80000b;
  color: #4f4f4f;
}

.calendar-header select {
  font-size: 14px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  width: 100%;
  text-align: center;
  /* background-color: #1A535C; */
  border-radius: 8px;
  padding: 10px;
  color: white;
}

.weekday {
  font-weight: bold;
  color: #242424;
  /* background-color: #4ECDC4; */
  padding: 10px;
  border-radius: 4px;
}

.day {
  padding: 15px;
  font-size: 16px;
  /* background-color: #4ECDC4; */
  color: #1A535C;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.day:hover {
  background-color: #D63230;
  color: #c5dee1;
  transform: scale(1.1);
}

.add-event-btn {
  background-color: #80000b;
  color: #f0a7a6;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: color cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 300ms;
  margin-top: 20px;
  align-self: center;
}

.add-event-btn:hover {
  background-color: #650000;
  color: white;
}